body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
}
nav a{
    padding: 10px 15px;
    color: rgb(187, 141, 199);
    float: right;
    font-size: medium;
}
nav a:hover{
    background-color: grey;
}
.banner{
    padding: 3px 5px;
    float: left;
    color: goldenrod;
    font-size: xx-large;
}